<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}UKRONIC{% endblock %}</title>
        {% block stylesheets %}{% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
        <link rel="stylesheet" href="{{ asset('bootstrap.min.css') }}">
    </head>
    <body>
        {% block body %}
            <h1>Projet symfony fantastique</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fuga debitis at eos odio voluptas, cupiditate sunt blanditiis, qui repellendus nisi similique, commodi incidunt quod laudantium! Nemo corrupti accusantium, et rem, repellat hic ea? Modi sed ipsum, dicta omnis a illum necessitatibus! Ut dolorem doloremque voluptate ullam, aperiam fugiat, voluptatem nulla reiciendis explicabo harum debitis, vitae tempora voluptatibus commodi illum temporibus neque deserunt facere soluta dolorum! Accusantium sint illum fugit quas in soluta accusamus molestias hic minus! Molestias, laudantium earum. Nobis est ducimus repellendus. Autem laboriosam nam explicabo, voluptatibus sit voluptate nisi officia suscipit sint tenetur natus ratione, quaerat beatae deleniti. Officiis nulla, ipsam accusantium tempore fugiat, a molestias eos aliquid tenetur et quaerat excepturi autem alias voluptas sapiente voluptate perspiciatis aliquam non id! Ducimus odio perspiciatis neque accusantium ipsa, suscipit dicta harum, exercitationem mollitia. Expedita laborum voluptatum nihil, pariatur rerum ut deserunt enim adipisci facilis quibusdam? Dicta quos ex officia illum quo rerum placeat esse explicabo sint quasi eum, aliquam officiis excepturi. Quibusdam iste at, ipsam autem perspiciatis. Deserunt recusandae, corrupti quis quibusdam eius mollitia repellendus possimus sapiente nesciunt fugiat nemo totam sit neque corporis sint officia, temporibus modi? Quas hic, animi alias earum. Aliquam laudantium quae velit enim odit provident eligendi a illo animi qui perferendis doloremque cumque, rem laborum repellendus! Quisquam possimus aperiam, est maiores non sequi impedit. Deleniti iure aperiam necessitatibus unde dicta maxime repudiandae nemo similique quae explicabo placeat, at neque quas impedit beatae sapiente optio, amet, fugiat a velit voluptatibus. Aliquam nam sint voluptate laborum officiis distinctio, deleniti et impedit, voluptas eum dignissimos quaerat accusantium autem illo rem, maxime voluptatum, eaque nostrum! Rerum magnam praesentium consequatur aliquam recusandae eligendi, at, sit facilis voluptatum hic quae dicta doloremque assumenda neque repudiandae sint odio quam magni commodi. Alias soluta libero unde ducimus ipsum obcaecati qui, magni ipsam ex dignissimos. Facere fuga, doloribus voluptatum rerum possimus quae. Eligendi doloremque vel neque dolores, distinctio aliquam. Magnam quibusdam totam corporis! Quia nisi eaque dolorum, doloremque vel officia? Voluptate laudantium nemo eius, nostrum ea natus architecto fugit, excepturi minima maiores optio!</p>
        {% endblock %}
        {% block javascripts %}
            <script src="{{ asset('jquery-3.1.1.js') }}"></script>
            <script src="{{ asset('bootstrap.min.js') }}"></script>

        {% endblock %}
    </body>
</html>
