{% extends 'UkronicBundle::layout.html.twig' %}

{% block content %}
<div class="block-first fh5co-bg-section series">
	<div class="container">
		<h2>Séries</h2>

		<div class="row">
			{% if series is defined %}
				{% for item in series %}

					<div class="col-md-3 col-sm-4 col-xs-6 col-lg-2 movie-content">
						<div class="decrypt">
							<a href="{{ path("dbukronic", {'id': item.id}) }}">
								<img class="img-responsive img-movie-big" src= {{ item.posterURL }} >
								<div class="movie-content">
								<h3 class="title-movie"> {{ item.title }} </h3>
								<p> {{ item.productionYear }} </p>
								</div>
							</a>
						</div>
					</div>

				{% endfor %}

			{% endif %}
		</div>
	</div>
	
</div>

{% endblock %}