

<ul>
	{% for decrypt in decrypts %}
		
		<li class="text-center decrypt-link">
			<a href="{{ path('decryptRead',{'id' : decrypt.id }) }}">{{ decrypt.title }} </a>(
			{% if decrypt.wordCount < 100 %}
				-100
			{% elseif decrypt.wordCount < 300 %}
				-300
			{% else %}
				+300
			{% endif %}
			 mots
			) par {{ decrypt.user.username }}
			
		</li>	
		
		
	{% endfor %}
</ul>
