/* CSS propre au projet UKRONIC */

body {
	font-family: 'Lora', serif;
	color: #222222;
}

/* Fonts */

h2, h3 {
	font-family: 'Jaldi', sans-serif;
}

h1 {
	font-size: 36px;
	font-weigth: 600;
}

@font-face {
    font-family: 'cf_old_photograph_creditRg';
    src: url('cfoldphotographcredit-webfont.woff2') format('woff2'),
         url('cfoldphotographcredit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.block-first {
	margin-top: 137px;
}
@media screen and (max-width: 768px) {
	.block-first {
		margin-top: 0 !important;
	}
}
/* Global Form */
input {
	padding: 4px 8px;
	/*border-radius: 8px;
	/*border: 2px solid #fff;*/
	border: none;
}
.form-control {
	margin-bottom:10px;
}
.form-control:focus {
	border-color: #149bde;
}

/* Classes specifiques */
.blue {
	color: #149bde;
}
.bg-blue {
	background-color: #149bde;
	color: #fff;
}
.bg-blue a {
	color: #fff;
}
.grey {
	color: #313131;
}
.text-underline {
	text-decoration: underline;
}
.text-underline:hover {
	text-decoration: underline;
}
.btn-blue {
	border: none;
	background-color: #149BDE;
	color: white;
	padding: 5px 15px;
}
.btn-blue:hover,
.btn-blue:focus {
	color: white;
}
.link-grey {
	font-size: 12px;
	border: none;
	background-color: transparent;
	color: #149bde;
	text-decoration: underline;
}
.link-grey:hover {
	color: #313131;
}
.btn-like {
	border : none;
}
.bnt-like:hover {
	border: none;
}
.btn-like img {
	width: 30px;
	height: 35px;
}
.padding-top-20 {
	padding-top: 20px;
}

/* NAVIGATION */
@media screen and (min-width: 769px) and (max-width: 991px) {
	.logo img {
		width: 150px;
		position: absolute;
	}
}
@media screen and (max-width: 768px) {
	.logo img {
		width: 120px;
	}
}

#banner ul li a {
	color: white;
}

#banner {
	border: none;
}

.navbar-default {
	background-color: #149bde;
	border-color: #149bde;
	font-family: 'Jaldi', sans-serif;
	font-size: 18px;
	letter-spacing: 1px;
}
nav {
	padding-top: 30px;
}
@media screen and (max-width:768px) {
	nav {
		padding-top: 0;
	}
}
header .form-group {
	max-width : 90%;
}
header input {
	width     : 630px;
	max-width: 95%;
	background-color: rgba(0, 0, 0, 0.2);
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	header input {
		width : 550px;
	}
}
@media screen and (max-width: 563px) {
	header input {
		width: 250px;
	}
}
.nav-films {
	display: inline-block;
	margin: 0 0 0 23%;
}
nav li {
	min-width: 40px;
	margin-right: 25px;
}
@media screen and (min-width: 991px) and (max-width: 1164px) {
	nav li {
		margin-right: 12px;
	}
}
.nav-films li a {
	text-decoration:none;
	line-height: 10px;
	padding-bottom: 0 !important;
}
.nav-films li a:after {
	content: '';
	display: block;
	margin: 10px auto;
	height: 2px;
	width: 0;
	background: transparent;
	transition: width .5s ease, background-color .5s ease;
}
.nav-films li a:hover:after {
	width: 90%;
	background: #fff;
}
.nav-login li:first-child {
	border: 2px solid white;
	padding: 0px 8px;
}

@media screen and (max-width: 1024px) {
	header .form-inline .form-group {
		display: inline-block;
	}
}
.navbar-default .navbar-toggle .icon-bar { /* Menu toggle mobile */
	background-color: #ffffff;
}

.title-movie {
	/*font-family: cf_old_photograph_creditRg;*/
	font-family: 'Jaldi', sans-serif;
	font-weight: 800;
	font-size:1em; 
}

.vintage {
	font-family: cf_old_photograph_creditRg;
	font-size:1em;
	color: black;
	margin-bottom: 10px;
}

.ukronic_fond {
	margin:0;
  	padding:0;
  	height: 300px;
  	width:100%;
}

#image-ukronic-salle {
	/*height: 600px;*/
	background: url('../images/Image-public-big.png') no-repeat;
	height: 100vh;
	width: 100%;

	background-size: cover;

}

.invite-title {
	padding-top : calc(130px + 25vh);
	color: white;
	width: 80%;
	margin: 0 auto;
	line-height: 60px;
	font-size: 46px;
}
@media screen and (max-width: 768px) {
	.invite-title {
		padding-top: calc(0px + 25vh);
		line-height: 50px;
		font-size: 36px;
	}
}

.invite-link {
	margin-bottom: 80px;
	padding-top: 130px;
}

.icon-ukronic {
	height : 20px;
	width : 20px;
}

.icon-ukronic-big {
	height: 40px;
	width:40px;
}

@media only screen and (min-width: 600px) {
	.ukronic_fond {
		height : 500px;
	}
}

@media only screen and (min-width: 900px) {
	.ukronic_fond {
		height : 700px;
	}
}

@media only screen and (min-width: 900px) {
	.ukronic_fond {
		height : 900px;
	}
}
.sequence-block ul {
	padding-left: 0;
}

/* Page profil */
.profile img {
	width: 100px;
	height: 100px;
	object-fit: cover;
	margin: 0 auto;
	display: block;
}
.presentation {
	margin-bottom : 50px;
	visibility: hidden;
}
@media screen and (max-width: 991px) {
	.presentation {
		margin-bottom: 20px;
	}
}
#explications {
	padding-top: 60px;
}

#explications p {
	margin-top : 50px;
	margin-bottom: 50px;
	max-width: 90%;
}
#explications h3 {
	margin-top: 11%;
}
.decrypt {
	height : 350px;
	margin-bottom: 20px;
	background-color: #fff;
	width: 150px;
}
.decrypt-text {
	padding: 5px 10px;
	line-height: 14px;
}
.decrypt-text p {
	font-size: 0.8em;
	color: darkgray;
}
.decrypt h3 {
	margin-bottom: 5px;
}
.decrypt-text h3 a {
	color: black;
}

.decrypt-text p a {
	color: darkgray;
}
.decrypt-text a:hover {
	color:darkgray;
}

.img-decrypt-big,
.img-movie-big {
	width : 100%;
	height: auto;
	object-fit:cover;
	max-width: 300px;
}

.decrypt a img {
	width: 150px;
	height: 200px;
	object-fit:cover;
}

.decrypt-link {
	list-style-type:none;
	font-size: 1em;
	margin-top: 10px;
}
.decrypt-display {
	padding-top: 60px;
}

.decrypt-item {
	margin: 10px 0;
}
.decrypt-item li {
	list-style-type: none;
	margin-bottom: 10px;
}
.decrypt-resume {
	background-color: #E5E4E8;
	padding: 10px;
}
.movie {
	border : 5px solid black;
	height: 350px;
	padding: 0px;
	margin : 10px;
	background-color: #F5F5F5;
}

.movie img {
	width: 100%;
	height:200px;
}

.movie-content {
	padding: 10px;
}

.img-movie {
	width:100%;
	height:300px;
}

.infos-movie {
	margin-top: 40px;
}


.margin-movie {

	margin-bottom: 50px;
}

.comment {
	width: 100%;
	height: 150px;
}

.commentaire {
	margin-top : 10px;
	background-color: #eeeeee;
	padding: 5px;
	border: 2px solid #cccccc;
	color : black;
}

.commentaire p {
	margin-bottom: 0;
}


.espace-form {
	margin-bottom: 30px;
}

.star {
	width: 30px;
	height:30px;
}

table.espace-star tbody tr td {
	height : 50px;
}

p.espace-star {
	margin-bottom: 40px;
}

.histo {
	margin-bottom: 25px;
}

.histo p {
	line-height: 1em;
	margin: 0 0 5px;
}

.center-me {
	margin: 0 auto;
}

.btn-ukronic-filter {
	font-size : 16px;
	padding: 3px 4px;
	margin-right : 4px;
}

/* Page Movie */
.hypothese-block .btn, .sequence-block .btn {
	color: #149bde;
	border-color: #149bde;
}

/* Series & Login Pages */
.login, .series {
	padding-top: 30px;
}
@media screen and (max-width: 768px) {
	.block-first, .login, .series {
		padding-top : 0px;
		margin-top: 215px;

	}
}
@media screen and (min-width: 768px) and (max-width: 991px) {
	.block-first {
		padding-top: 0px;
	}
}
@media screen and (max-width: 768px) {
	.fh5co-heading h2 {
		font-size     : 36px;
		margin-top    : 50px;
		line-height: 1em;
	}
}

@media screen and (max-width:768px) {
	.block-image-user {
		padding-top: 50px;
	}
}
.block-dashboard {
	padding-top: 20px;
}
@media screen and (max-width:768px) {
	.block-dashboard {
		padding-top: 50px;
	}
	.block-decrypt-notes,
	.block-search-result {
		margin-top: 250px;
	}
}

footer {
	margin-top: 40px;
	padding: 40px 0;
	background-color: lightgrey;
}