/* CSS propre au projet UKRONIC */

@font-face {
    font-family: 'cf_old_photograph_creditRg';
    src: url('cfoldphotographcredit-webfont.woff2') format('woff2'),
         url('cfoldphotographcredit-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.title-movie {
	font-family: cf_old_photograph_creditRg;
	font-size:1.5em; 
}

.vintage {
	font-family: cf_old_photograph_creditRg;
	font-size:1em;
	color: black;
	margin-bottom: 10px;
}


.ukronic_fond {
	margin:0;
  padding:0;
  height: 300px;
  width:100%;
  
}

@media only screen and (min-width: 600px) {
	.ukronic_fond {
		height : 500px;
	}
}

@media only screen and (min-width: 900px) {
	.ukronic_fond {
		height : 700px;
	}
}

@media only screen and (min-width: 900px) {
	.ukronic_fond {
		height : 900px;
	}
}

.presentation {
	margin-bottom : 50px;
}

.decrypt {
	border : 5px solid black;
	height : 720px;
	margin-bottom: 20px;
	background-color: #F5F5F5;
}

.decrypt-text {
	padding : 10px;
	/* background-color: gray; */
}

.decrypt-text h3 a {
	color: black;
}

.decrypt-text p a {
	color: #2599D5;
}
.decrypt-text a:hover {
	color:darkgray;
}



.decrypt img {
	height : 500px;
	width : 100%;
}

.movie {
	border : 5px solid black;
	height: 650px;
	padding: 0px;
	margin : 10px;
	background-color: #F5F5F5;
}

.movie img {
	width: 100%;
	height:500px;
}

.movie-content {
	padding: 10px;
}

.img-movie {
	width:100%;
	height:300px;
}

.img-movie-big {
	width : 100%;
	height : 500px;
}

.infos-movie {
	margin-top: 40px;
}
.margin-movie {

	margin-bottom: 50px;
}

.comment {
	width: 100%;
	height: 150px;
}

.commentaire {
	margin-top : 10px;

	padding: 5px;
	border: 2px solid darkgray;
	color : black;
}

.commentaire p {
	margin-bottom: 0;
}


.espace-form {
	margin-bottom: 30px;
}

.star {
	width: 30px;
	height:30px;
}

table.espace-star tbody tr td {
	height : 50px;
}

p.espace-star {
	margin-bottom: 40px;
}

.histo {
	margin-bottom: 25px;
}

.histo p {
	line-height: 1em;
	margin: 0 0 5px;
}