{% extends 'UkronicBundle::layout.html.twig' %}
{% block content %}
    


<div class="container padding-top-20">

	<p>
		Ukronic est une réponse à un constat simple : trop difficile de trouver sur internet des explications à nos incompréhensions, suite à un film ou une série un peu trop ambigu. Notamment pour la fameuse remarque « Mais pourquoi cette fin !? »
	</p>
	<p>
	Si comme nous, lassé de lire des critiques anodines, ou que votre cercle d’amis ne suffit plus à remettre en cause vos théories, UKRONIC est fait pour vous ! Rédigez vos hypothèses et parlez-en autour de vous !
	<p>
	Ukronic  vous offre l’opportunité d’aller bien plus loin que le film ou la série que vous venez de voir. La communauté présente ici vous apporte des éléments de compréhension qui répondront à vos questions. Si ce n’est pas le cas, posez vos questions, les réponses arriveront très vite !
	</p>
	<p>
	La lecture des décryptages peut être filtré par nombre de mots, idéale lorsque l’on souhaite lire un maximum d’avis quand on a 15 min de métro.
	</p>
	<p>
	Le concept est né depuis plusieurs années dans l’esprit d’Anthony Cange. Etudiant, féru de cinéma, il ne trouvait que trop rarement réponses à ses questions. Les années passent et une opportunité professionnelle s’offre à lui pour enfin bâtir Ukronic, un site de discussion qui n’a pour sujet que la compréhension et les hypothèses ou théories. Pas de critiques sur Ukronic.
	</p>
	<p> 
	Le site est actuellement en ligne dans sa version Beta. Si le concept vous plait et vous pensez pouvoir nous aider et accompagner de n’importe quelle sorte, n’hésitez pas à nous contactez sur infos@ukronic.com.

	</p>
	
</div>

{% endblock content %}