<footer class="container-fluid">

	<ul class="list-inline text-center">
		{# Logos avec liens réseaux sociaux #}
		<li><img src="{{ asset('images/F_icon.svg.png') }}" alt="facebook" width=32px heigth=32px></li>
		<li><img src="{{ asset('images/Twitter_Bird.svg.png') }}" alt="Twitter" width=32px heigth=32px></li>
	</ul>

	<ul class="list-inline text-center">
		<li><a class="grey" href="{{ path('ukronic-apropos')}}">A propos</a></li>
		<li><a class="grey" href="{{ path('ukronic-cgu')}}">CGU</a></li>
		<li><p class="text-center grey">© Ukronic 2017</p></li>
	</ul>

</footer>