<div class="container-fluid">
	<p class="text-center"><a href="#">A propos</a>
	<a href="{{ path('ukronic-cgu')}}">CGU</a>
	<img src="images/F_icon.svg.png" alt="facebook" width=24px heigth=24px>
	<img src="images/Twitter_Bird.svg.png" alt="Twitter" width=24px heigth=24px>
	
	{# Logos avec liens réseaux sociaux #}
	</p>
	<p class="text-center">{# logo copyright #}Ukronic 2017</p>
</div>