<div class="text-center">
	{{ form_start(form,{"method":"POST","action": path('ukronic-recherche-bis') } ) }}
	<div class="form-group">
	{{ form_widget(form.title,{'attr':
	{'placeholder': "Taper le nom du film ou de la série",'class':"form-input"}
}) }}
	
	<button type="submit" class="btn btn-primary" ><i class="fa fa-search" aria-hidden="true"></i></button>
	</div>
	{{ form_rest(form) }}
	{{ form_end(form) }}
	
	
</div>
