{% extends '::base.html.twig' %}

{% block stylesheets %}
<style>
	.ukronic {
		background-color : #149BDE;
		color: white;
	}
</style>
{% endblock %}


{% block body %}
    

{% block topnav %}
    {% include 'UkronicBundle:ukronic:topnav.html.twig'  %}
{% endblock %}
	{% block content %}
	    <p>Bonne séance</p>
	    {% block fos_user_content %}
        {% endblock fos_user_content %}
	{% endblock %}
{% endblock %}