{% if liked %}
<a class="btn btn-warning" href="#">Liked</a>

{% else %}
	
	<a class="btn btn-primary btn-like" href="{{ path('commentLike',{'id':commentId,'userId':userId}) }}">Like</a>
	

{% endif %}




